*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background: #fff;
    padding: 0px;
    width: auto;
}

/* Header */

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 80px;
    padding: 30px 13px 20px 18px;
    background-color: #00000085;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}
.area--Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 220px;
}
.button--menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 30px;
    margin-right: 40px;
    background-color: transparent;
    border: 0 none;
    outline: 0;
    cursor: pointer;
}
.area-desk{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.iconMenu {
    width: 100%;
    height: 100%;
}
.icon--Logo{
    width: 110px;
    height: 24px;
}
.button--area{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 480px;
}
.button--area a:last-child{
    border-right: none;
}
.text--icon{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
}
.button--icons{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 150px;
    border-right: 1px solid #fff;
    padding: 0px 25px 0px 0px;
    height: 24px;
}

/* Main */

main{
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

/* Main Banner */

.banner{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 760px;
}
.banner--img{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    background-image: url("./assets/img/principal_banner_desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
}
.banner--info{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding: 14px 29px;
    width: 450px;
    height: 260px;
    background-color: transparent;
    margin-right: 19%;
}
.banner--info-h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 10px;
}
.value--area{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    height: 70px;
    margin-bottom: 5px;
}
.banner--info-value{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 65px;
    line-height: 65px;
    color: #3EC6E0;
}
.banner--info-sub-value{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    margin-top: 8px;
    font-size: 28px;
    line-height: 25px;
    color: #3EC6E0;
}
.banner--info-p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
    text-align: right;
    color: #fff;
}
.slider--nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    width: 400px;
    height: 60px;
    top: 320px;
    right: -170px;
    transform: rotateZ(90deg);
}
.slide--nav-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 18px 22px;
    border-radius: 0px 0px 0px 10px;
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: #3EC6E0;
}
.nav--title {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
}
.slider--nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    width: 100px;
    height: 100%;
    background-color: #084154;
    border-radius: 0px 0px 10px 0px;
}
.number--block {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    transform: rotateZ(-90deg);
}
.button--area-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20px;
    width: 35px;
    flex-direction: row;
    transform: rotateZ(-90deg);
}
.button--navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0 none;
    background-color: transparent;
    outline: 0;
    width: 10px;
    height: 18px;
    cursor: pointer;
}

/* Middle Banner */

.middle--banner-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px 19px;
    margin-top: -150px;
    width: 100%;
}
.middle--banner-element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 480px;
    margin: 0px 10px;
}
.middle--banner-img {
    width: 100%;
    height: 320px;
}
.rect--info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    flex-direction: row;
    border-left: 6px solid #084154;
    background-color: #3EC6E0;
    width: 100%;
    height: 40px;
    border-radius: 0px 0px 5px 5px;
}
.rect--info-title {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 14px;
    color: #084154;
}
.rect--info-line {
    display: flex;
    flex: 1;
    width: auto;
    min-width: 10px;
    margin: 0px 10px;
    height: 0px;
    border: 1px solid #084154;
}

/* Featured Products */

.shelf--area {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 590px;
    padding: 60px 180px 0px 180px;
}
.title--area-shelf {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: 20px;
    margin-bottom: 60px;
    padding-left: 50px;
}
.shelf--title-icon {
    width: 22px;
    height: 22px;
    margin-right: 20px;
}
.title--shelf {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 21px;
    color: #084154;
}
.shelf--element-area {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex: 1;
    width: 100%;
    height: auto;
}
.shelf--element-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 480px;
    background: #fff;
    box-shadow: 0px 4px 15px 7px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}
.area-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 24px 0px 10px 0px;
    margin-bottom: 0px;
}
.img--game {
    width: 85%;
    height: 300px;
}
.area--info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 150px;
    padding: 15px 24px;
    background-color: #f5f5f5;
    border-top: 2px solid #3EC6E0;
}
.infos {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    flex-direction: column;
}
.info--name {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #084154;
}
.info--value {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #084154;
}
.buy--button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 45px;
    background: #3EC6E0;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    border: 0 none;
    outline: 0;
    padding: 0px 18px;
    transition: linear 0.5s;
}
.buy--button:hover{
    cursor: pointer;
    background-color: #084154;
}
.img--icon-confirmed {
    z-index: 1;
    position: relative;
    top: -23px;
    left: 8px;
    width: 68px;
    height: 79px;
    background-color: transparent;
}

/* FOOTER */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 68px;
    bottom: 0;
    left: 0;
    right: 0;
}
.first--block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width: 500px;
    height: 68px;
    background: #084154;
    padding: 20px 20px 20px 16px;
}
.logo--img-footer {
    width: 43px;
    height: 28px;
}
.second--block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 68px;
    background: #3EC6E0;
    padding: 20px 20px 20px 16px;
}
.area--text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
}
.text--footer{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
}