.modif{
    padding-top: 260px;
    padding-bottom: 60px;
    background-color: #084154;
    border-radius: 0px 0px 20px 20px;
}
.modif--color{
    border-left: 6px solid #fff;
}
.breadcrumb--area{

}
.result--area{

}
.grid--area{

}
.menu--navigator{

}
.search--result{

}
.main{
    
}